@using VotingSystem.API.DTO.ErrorHandling
@using VotingSystem.API.DTO.Responses
@using VotingSystem.Components.Pages.Shared
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@inject ILocalStorageService _localStorage

@* https://www.youtube.com/watch?v=LBByZRhyZ8U *@
@if (!LoggedIn)
{
    <LoginPage OnLogin="@HandleOnLogin"/>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <NavLink class="button-styled-nav-link" href="@($"profile/userId={UserId}")">
                    <span>Profile</span>
                </NavLink>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>   
}

@code {
    private bool LoggedIn { get; set; } = false;
    private int UserId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            var id = await _localStorage.GetItemAsync<int>("currentUserId");
            if (id != 0)
                LoggedIn = true;
            else
                LoggedIn = false;

            StateHasChanged();
        }
    }

    private async Task HandleOnLogin(int userId)
    {
        if (userId != 0)
        {
            LoggedIn = true;
            UserId = userId;
            navigationManager.NavigateTo("");
        }
    }
}