.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-color: #3d5a80;
}

.top-row {
    background-color: #3d5a80;
    border-bottom: 1px solid;
    border-color: #7197A6;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.register-form {
    background-color: blue;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

    .register-form .form-group {
        margin-bottom: 20px;
    }

        .register-form .form-group label {
            display: block;
            margin-bottom: 10px;
        }

        .register-form .form-group .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }