@page "/profile/userId={userId:int}"

@if (!Editable)
{
    <h1>Profile</h1>
    <div class="content-container">
        <h2>User ID: @UserId</h2>
    </div>

    <button @onclick="() => Editable = true">Change Details</button>
}
else
{
    
    <button type="submit" @onclick="async () => await Update()">Update</button>
}
